* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #545454;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 4rem 1rem;
}

h1 {
    margin-bottom: 2rem;
}

h2 {
    padding-left: 0.5rem;
    margin-bottom: 1.2rem;
    border-left: 4px solid #31c099;
}

p {
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

ul {
    padding-left: 1rem;
    margin-bottom: 1rem;
}

ul li {
    margin-bottom: 0.5rem;
}

#demo {
    padding: 2rem;
    margin: 2rem 0;
    text-align: center;
    font-weight: bold;
    color: white;
    background: #31c099;
    border-radius: 1rem;
}

button {
    color: #fff;
    background: #31c099;
    border: 1px solid #31c099;
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
    border-radius: 4px;
    transition: all 0.2s;
    cursor: pointer;
}

button:hover {
    background-color: #1e7b62;
    border-color: #1e7b62;
}

/* ---------------------------------- popup --------------------------------- */
.popup-wrapper {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity .5s ease;
}

.popup-wrapper.show {
    /* display: block; */
    opacity: 1;
}

.popup {
    position: relative;
    text-align: center;
    width: 100%;
    max-width: 460px;
    margin: 10% auto;
    padding: 20px;
    background: white;
    border-radius: 1rem;
}

.popup p {
    margin-bottom: 2rem;
}

.popup a {
    color: white;
    background: #31c099;
    border: 1px solid #31c099;
    font-size: 1.2rem;
    padding: .5rem 2rem;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    transition: all .2s ease;
}

.popup a:hover {
    background-color: #1e7b62;
    border-color: #1e7b62;
}

.popup-close {
    position: absolute;
    top: 5px;
    right: 13px;
    cursor: pointer;
}

.popup h2 {
    border-left: 0;
    padding-left: 0;
}