.d-3bo {
    color: #fc9918;
}

.ufficiale-imperiale {
    color: #f14a16;
}

.ribelle {
    color: #9d84b7;
}

.darth-fener {
    color: #370665;
}

.soldato-1 {
    color: #9a0680;
}

.soldato-2 {
    color: #9A0680;
}